* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

main #typing-section {
  position: relative;
  border: 2px solid black;
  height: 50%;
  width: 80%;
}

main #typing-section #typing-ref {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: rgba(35, 34, 34, 0.716);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

main #typing-section #typing-input-showcase {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  border: 0;
  padding: 0;
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: black;
}

main #typing-section #typing-input {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  border: 0;
  padding: 0;
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: transparent;
}